body {
  margin:0;
  padding:0;
  background: -webkit-linear-gradient(top, rgb(42, 35, 86) 0%, rgb(4, 4, 8) 100%), -webkit-linear-gradient(top, rgba(42, 35, 86, 0) 0%, rgb(13, 17, 28) 100%);
  font-size: 16px;
  color: white;
}
html {
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}
*{
  font-family: 'Arvo', serif;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'League Spartan', sans-serif;
}